<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/home.css">
  <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="home-container">
    <h1>Welcome to Bee Balanced</h1>
    <p>Your daily well-being tracker.</p>

    <div class="home-buttons">
      <a href="/survey?section=choice" class="btn">Take Today's Surveys</a>
    </div>

    <!-- Bee Garden Virtual Pet Window -->
    <div id="bee-garden-container">
      <div id="hive-scene">
        <canvas id="bee-animation-canvas"></canvas>
        <div id="flower-garden">
        </div>
      </div>
    </div>
    <a href="/shop" class="btn">Visit Shop</a>

    <script>
      window.plantedFlowers = <%- JSON.stringify(plantedFlowers) %>;
    </script>

    <script src="/js/beeAnimation.js"></script>

  </div>
  <footer class="home-footer">
    <p>If you have any questions, please contact <strong>Davis Yi</strong> at 
      <a href="mailto:davisdaehanyi@gmail.com">davisdaehanyi@gmail.com</a>.
    </p>
  </footer>
</body>
</html>
